
<header>
    <mat-toolbar>
      <img src="./assets/images/logo2.jpg">

      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button class="example-icon">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" style="margin-right: 10%">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
</header>
