<div class="main-body">

  <mat-card-title>
    <p>My Properties</p>
  </mat-card-title>

  <div class="first">
    <mat-form-field class="filter" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput type="text" >
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field> &nbsp;
    <button mat-raised-button color="primary" routerLink="/food-trucks/new">Add Property</button>
  </div>

  <div class="table-container">

    <table>
      <ng-container matColumnDef="id">
        <tr>
          <td>
            <mat-card>
              <div fxLayout="row">
                <div fxFlex="50%">
                <div fxFlex="30%">
                  <img mat-card-image src="https://i.ibb.co/599qhjk/propiedad1.png" alt="propiedad1">
                </div>
                <div fxFlex="30%">
                  <p></p>
                  <li>Title: Department</li>
                  <li>Cell Phone: 999-999-999</li>
                  <li>Property Category: Departament</li>
                  <li>Property Address:Ate-Vitarte</li>
                  <li>District: Ate</li>
                  <li>Bedrooms: 1</li>
                  <li>Bathrooms: 3</li>
                  <li>Others: aaaaa</li>
                  <li>Available Times:aaaaa</li>
                  <li>propertyPrice: 666666.0,</li>
                </div>
                <div fxFlex="10%">
                  <button mat-raised-button color="primary" style="margin-top: 200px;margin-left: 250px">Publish</button>
                </div>
              </div>
            </mat-card>

          </td>
        </tr>
      </ng-container>

      <ng-container matColumnDef="id">
        <tr>
          <td>
            <mat-card>
              <div fxLayout="row">
                <div fxFlex="30%">
                  <img mat-card-image src="https://i.ibb.co/nzpN7cf/propiedad2.png" alt="propiedad1">
                </div>
                <div fxFlex="30%">
                  <p></p>
                  <li>Title: Department</li>
                  <li>Cell Phone: 999-999-999</li>
                  <li>Property Category: Departament</li>
                  <li>Property Address:Ate-Vitarte</li>
                  <li>District: Ate</li>
                  <li>Bedrooms: 1</li>
                  <li>Bathrooms: 3</li>
                  <li>Others: aaaaa</li>
                  <li>Available Times:aaaaa</li>
                  <li>propertyPrice: 666666.0,</li>
                </div>
                <div fxFlex="10%">
                  <button mat-raised-button color="primary" style="margin-top: 200px;margin-left: 250px">Publish</button>
                </div>
              </div>
            </mat-card>

          </td>
        </tr>
      </ng-container>

      <ng-container matColumnDef="id">
        <tr>
          <td>
            <mat-card>
              <div fxLayout="row">
                <div fxFlex="30%">
                  <img mat-card-image src="https://i.ibb.co/599qhjk/propiedad1.png" alt="propiedad1">
                </div>
                <div fxFlex="30%">
                  <p></p>
                  <li>Title: Department</li>
                  <li>Cell Phone: 999-999-999</li>
                  <li>Property Category: Departament</li>
                  <li>Property Address:Ate-Vitarte</li>
                  <li>District: Ate</li>
                  <li>Bedrooms: 1</li>
                  <li>Bathrooms: 3</li>
                  <li>Others: aaaaa</li>
                  <li>Available Times:aaaaa</li>
                  <li>propertyPrice: 666666.0,</li>
                </div>
                <div fxFlex="10%">
                  <button mat-raised-button color="primary" style="margin-top: 200px;margin-left: 250px">Publish</button>
                </div>
              </div>
            </mat-card>

          </td>
        </tr>
      </ng-container>


    </table>

  </div>
</div>

