<app-header-lessor></app-header-lessor>
<div class="main-body">

  <mat-card-title>
    <p>My Properties</p>
  </mat-card-title>

  <div class="first">
    <mat-form-field class="filter" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput type="text" >
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field> &nbsp;
    <button mat-raised-button color="primary" routerLink="/navigation/add/property">Add Property</button>
  </div>

  <div class="table-container" *ngFor="let property of properties">
    <table>
      <ng-container matColumnDef="id">
        <tr>
          <td>
            <mat-card>
              <div fxLayout="row">
                <div fxFlex="30%">
                  <img mat-card-image src="https://i.ibb.co/599qhjk/propiedad1.png" alt="propiedad1">
                </div>
                <div fxFlex="30%">
                  <p></p>
                  <li>Title: {{property.title}}</li>
                  <li>Cell Phone: {{property.cellPhone}}</li>
                  <li>Property Category: {{property.category}}</li>
                  <li>Property Address:{{property.address}}</li>
                  <li>District: {{property.district}}</li>
                  <li>Bedrooms: {{property.bedrooms}}</li>
                  <li>Bathrooms: {{property.bathrooms}}</li>
                  <li>Others: {{property.others}}</li>
                  <li>Available Times:{{property.schedule1}}{{property.schedule2}}</li>
                  <li>propertyPrice: {{property.price}}</li>
                </div>
                <div fxFlex="10%">
                  <button mat-raised-button color="primary" style="margin-top: 200px;margin-left: 250px">Publish</button>
                </div>
              </div>
            </mat-card>

          </td>
        </tr>
      </ng-container>



    </table>

  </div>
</div>

<app-footer></app-footer>
