<main>
  <app-header></app-header>
  <div class="container">
    <h2>Mensajes Recibidos</h2>

    <div class="messages">
      <div class="message">
        <h3>Autor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisic aut commodi, dicta eius incidunt iste numquam optio reprehenderit sunt tem</p>
        <button>Reply</button>
      </div>


      <div class="message">
        <h3>Autor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisic aut commodi, dicta eius incidunt iste numquam optio reprehenderit sunt tem</p>
        <button>Reply</button>
      </div>

      <div class="message">
        <h3>Autor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisic aut commodi, dicta eius incidunt iste numquam optio reprehenderit sunt tem</p>
        <button>Reply</button>
      </div>

      <div class="message">
        <h3>Autor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisic aut commodi, dicta eius incidunt iste numquam optio reprehenderit sunt tem</p>
        <button>Reply</button>
      </div>

      <div class="message">
        <h3>Autor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisic aut commodi, dicta eius incidunt iste numquam optio reprehenderit sunt tem</p>
        <button>Reply</button>
      </div>

      <div class="message">
        <h3>Autor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisic aut commodi, dicta eius incidunt iste numquam optio reprehenderit sunt tem</p>
        <button>Reply</button>
      </div>

      <div class="message">
        <h3>Autor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisic aut commodi, dicta eius incidunt iste numquam optio reprehenderit sunt tem</p>
        <button>Reply</button>
      </div>
    </div>

    <button class="back">Back</button>
  </div>
  <app-footer></app-footer>
</main>
