<main>
  <app-header></app-header>
  <div class="container">
    <h2>Mensajes Recibidos</h2>

    <div class="messages">

      <div class="message" *ngFor="let message of myMessages">
        <h3>{{ getAutor(message.idOrigin) }}</h3>
        <p>{{ message.content }}</p>
        <button [routerLink]="['/sendmessage/',message.idOrigin]">Reply</button>
      </div>

      <div class="noMessages" *ngIf="myMessages.length === 0">
        <h3>No tienes mensajes</h3>
      </div>
    </div>

    <button class="back" (click)="volver()">Back</button>
  </div>
  <app-footer></app-footer>
</main>
