
section{
  width: 100%;
  background: whitesmoke;
  display: grid;
  place-items: center;
}
section .container{
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  text-align: center;
}
a{
  text-decoration: none;
  margin: 5px 20px;
  color: #002C3E;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s;
}
a:hover{
  text-decoration: underline;
  cursor: pointer;
  transform:scale(1.1);
}

@media (min-width: 720px){
  a {
    margin: 5px 40px;
  }
}
