<app-header-lessor></app-header-lessor>
<div>
  <h2>My Tenants</h2>
  <div *ngFor="let tenant of tenants">
    <mat-card>
       <mat-card-content>
         <div class="tenant-profile">
           <div class="photo-container">
             <img src="{{tenant.image}}" alt="{{tenant.image.alt}}" class="tenant-photo">
           </div>
           <div class="tenants-data">
             <ul>
               <li><strong>Name:</strong>{{tenant.name}}</li>
               <li><strong>Cell Phone:</strong>{{tenant.cellPhone}}</li>
               <li><strong>Date:</strong>{{tenant.date}}</li>
               <li><strong>Address:</strong>{{tenant.address}}</li>
               <li><strong>Email:</strong>{{tenant.email}}</li>
             </ul>
           </div>
           <div class="button-edit">
             <button class="transparent-button">
               <mat-icon>edit_note</mat-icon>
             </button>
           </div>
         </div>
         <div class="container-icons">
           <div>
             <mat-icon>notification_add</mat-icon>
           </div>
           <div>
             <mat-icon>pending_actions</mat-icon>
           </div>
           <div>
             <button mat-raised-button color="primary" class="custom-button">Save</button>
           </div>
         </div>

       </mat-card-content>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
