<app-header></app-header>

<section>
  <div class="container">
    <a (click)="selectCategory('commercialSpace')">Commercial Space</a>
    <a (click)="selectCategory('room')">Rooms</a>
    <a (click)="selectCategory('department')">Departments</a>
    <a (click)="selectCategory('house')">Houses</a>
  </div>
</section>


<input class="filter-input" matInput (keyup)="applyFilter($event)" placeholder="Ex. Room">

<div class="posts">
  <ng-container *ngFor="let post of posts">
    <div class="card-content">
      <img src="{{ post.imageUrls[0]}}" alt="{{ post.description }}">
      <div class="text-container">
        <mat-card-title class="title">{{ post.title }}</mat-card-title>
        <mat-card-subtitle class="price">S/ {{ post.price }}</mat-card-subtitle>
        <mat-card-subtitle class="description">{{ post.description }}</mat-card-subtitle>
        <mat-card-actions class="card-actions">
          <button class="open-new" [routerLink]="['/seepost', post.id]">Show more</button>
        </mat-card-actions>
      </div>
    </div>
  </ng-container>
</div>

<app-footer></app-footer>
