<app-header></app-header>
<app-search-post (searchQuery)="onSearch($event)"></app-search-post>
<div class="ad">
  <ng-container *ngFor="let post of posts">
    <mat-card class="ads" style="max-width: 900px">
      <div class="card-content">
        <div class="image-container">
          <img class="img" src="{{ post.imgUrl }}" alt="{{ post.description }}">
        </div>
        <div class="text-container">
          <mat-card-title class="title">{{ post.title }}</mat-card-title>
          <mat-card-subtitle class="price">{{ post.price }}</mat-card-subtitle>
          <mat-card-subtitle class="description">{{ post.description }}</mat-card-subtitle>
          <mat-card-actions class="card-actions">
            <button class="open-new" [routerLink]="['/posts', post.id]">Show more</button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </ng-container>
</div>
<app-footer></app-footer>
