
<header>
  <div class="logo">
    <a href="https://opensource-grupo.github.io/ProyectLandingPage/">
    <img src="../assets/images/logo2.jpg" alt="">
    </a>
    <p > RENTSTATE</p>
  </div>
  <div class = "container">
    <nav style="gap:40px">
      <button mat-flat-button color="primary" aria-label="Home button"  routerLink="/home">Home</button>
      <button mat-flat-button color="primary" aria-label="Home button"  routerLink="/navigation/login">Login</button>
      <button mat-flat-button color="primary" aria-label="Home button"  routerLink="/navigation/register">register</button>
    </nav>
  </div>
</header>



