
<header>
  <div class="container">

    <div>
      <img [routerLink]="['/']" id="logo" src="./assets/images/RENTSTATEname.png" >
    </div>

    <span></span>
    <div class="options">
      <button style="margin-right: 5px" [routerLink]="['/listposts']">See Post</button>
      <button [routerLink]="['/post/new']">Post</button>
      <span></span>
      <a  [routerLink]="['/messages']"><img id="message" src="./assets/images/messagLogo.png" alt=""></a>
      <a  (click)="isLoged()" [routerLink]="['/myprofile']"><img id="user" src="./assets/images/avatarUser.png" alt=""></a>
    </div>
  </div>
</header>





