<div class="space"></div>
<div class="container">
  <mat-card class="custom-card">
    <mat-card-content>
      <mat-card-title>Pay</mat-card-title>
      <div class="payment-info">
        <h3>You can pay at the following banks and authorized agents!!!</h3>
      </div>
      <div class="bank-icons">
        <div class="icon-container">
          <mat-icon>account_balance</mat-icon>
          <div class="mini-container">
            <h2>BCP</h2>
          </div>
        </div>
        <div class="icon-container">
          <mat-icon>account_balance</mat-icon>
          <div class="mini-container">
            <h2>Interbank</h2>
          </div>
        </div>
        <div class="icon-container">
          <mat-icon>account_balance</mat-icon>
          <div class="mini-container">
            <h2>ScotiaBank</h2>
          </div>
        </div>
      </div>
      <div class="payment-code">
        <h3>Payment Code</h3>
        <div class="payment-mini-container">
          <h2>12345678</h2>
        </div>
      </div>
      <div class="payment-time">
        <h3>You have a period of 24 hours to make the payment</h3>
      </div>
      <div class="finish-button">
        <button mat-raised-button color="primary">Finish</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
