
 <main *ngIf="post">
   <app-header></app-header>
    <div class="container">
      <section class="action">
        <img src="{{post.imageUrls[0]}}" alt="">
        <a [routerLink]="['/seeprofile', post.author_id]">Ver Perfil de Autor</a>
        <button *ngIf="post.author_id != 1" (click)="rentar()">Rent</button>
        <button class="back" (click)="volver()">Back</button>
      </section>
      <section class="description">
        <div class="info">
          <h2>Title:</h2>
          <p>{{post.title}}</p>
        </div>
        <div class="info">
          <h2>Description:</h2>
          <p>{{post.description}}</p>
        </div>
        <div class="info">
          <h2>Characteristic</h2>
          <p>{{post.characteristics}}</p>
        </div>
        <div class="info">
          <h2>Location</h2>
          <p>{{post.location}}</p>
        </div>

        <h3>Precio: {{post.price}}</h3>

      </section>
    </div>
   <app-footer></app-footer>
 </main>
