.container{
  background-color: #064789;
  width: 98%;
  max-width: 500px;
  height: auto;
  margin: 40px auto;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.container h4{
  font-size: 1.7rem;
  font-weight: 500;
  margin: 15px auto;
  text-align: center;
}

.inputbox{
  display: flex;
  flex-direction: column;
}
.inputbox label{
  font-size: 1.2rem;
  margin: 10px 10px 10px 0;
  text-align: start;
}
.inputbox input{
  font-size: 1.2rem;
  margin-left: 10px;
  padding: 5px 8px;
  background: white;
  backdrop-filter: blur(10px);
  border: none;
  color: black;
}
.iconEje{
  margin-left: 10px;
}
.cbutton {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 350px;
  margin: auto;
}

button{
  width: 80%;
  background-color: white;
  font-size: 1.1rem;
}

#signUp{
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
}
#signUp a{
  color: black;
  text-decoration: none;
}
#signUp a:hover{
  text-decoration: underline;
}

@media (min-width: 720px){
  .inputbox label{
    text-align: end;
  }
  .inputbox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:0.5rem;
  }
  .iconEje{
    grid-column-end: 3;
    margin-left: auto;
  }
  button{
    font-size: 1.3rem;
  }
  #signUp{
    font-size: 1.1rem;
  }
}





