<app-header></app-header>
<main>
  <div class="container">
    <form>
      <h4>Login</h4>
      <p class="inputbox">
        <label>Email:</label>
        <input class="email" type="email" placeholder="Ex. example@gmail.com" formControlName="email" required>
      </p>
      <p class="inputbox">
        <label>Password:</label>
        <input class="pwd" [type]="showPassword ? 'text' : 'password'" matInput formControlName="password" required>

        <mat-icon class="iconEje" (click)="togglePasswordVisibility()">
          {{ showPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>

      </p>
      <p>
      <div class="cbutton">
        <button mat-stroked-button type="submit" color="primary" >Login</button>
      </div>

      <p id="signUp">You do not have an account? <strong><a routerLink="navigation/register" href="">Sign Up</a></strong></p>

    </form>

  </div>
</main>
<app-footer></app-footer>
