
<main>
  <app-header></app-header>
  <div class="container">
    <h2>Datas of your property</h2>
    <form [formGroup]="form" (ngSubmit)="addPost()">
      <div>
        <label>Title</label>
        <div  id="title">
          <input class="inputbox" type="text" formControlName="title">
        </div>
        <label>Description</label>
        <div  id="description">
          <textarea class="inputbox"   formControlName="description"></textarea>
        </div>
      </div>
      <div>
        <div  id="characteristics">
          <label>Characteristics</label>
          <textarea class="inputbox" formControlName="characteristics"></textarea>
        </div>
        <div >
          <label>Price</label>
          <input class="inputbox" type="number" formControlName="price">
        </div>
      </div>
      <div>
        <div >
          <label>Category</label>
          <select class="inputbox" formControlName="category">
            <option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </option>
          </select>
        </div>
        <div  id="location">
          <label>Location</label>
          <textarea  class="inputbox"  formControlName="location"></textarea>
        </div>
      </div>
      <div>
        <div  id="imgUrl">
          <label>Image Url</label>
          <textarea class="inputbox"  formControlName="imgUrl" ></textarea>
        </div>
      </div>


      <div class="actions">
        <button mat-raised-button color="warn" type="button" [mat-dialog-close]="false" routerLink="/yourposts">Cancel</button>
        <button mat-raised-button color="primary" type="submit">
        {{form.value.id? 'Update':'IPost'}}
        <mat-icon>{{form.value.id? 'edit':'add'}}</mat-icon>

        </button>

        <button mat-raised-button color="primary" type="button" class="back" (click)="back()">Back!</button>
      </div>
    </form>
  </div>

  <app-footer></app-footer>

</main>
