

main{
  background: #E7EFF6;

}

.container{
  background: #5ab3d5;
  margin: 30px auto 15px;
  border-radius: 30px;
  padding: 10px;
  width: 90%;
  max-width: 900px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.container h2{
  text-align: center;
  color: #002C3E;
  font-size: 1.5rem;
  margin: 10px auto;

}

.inputbox{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;
  color: #002C3E;
  font-size: 1.2rem;
  margin-right: 10px;
}

.container label{
  color: #002C3E;
  font-weight: 500;
  font-size: 1.2rem;
  margin-right: 10px;
}
.inputbox, select{
  background: #C9EEFF;
  border-radius: 3px;
  border: none;
  padding: 8px 10px;
  font-size: 1.2rem;
  width: 65%;
}
option{
  background: #C9EEFF;
  padding: 8px;
}
.actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.actions button{
  width: 80%;
  max-width: 250px;
  margin-bottom: 10px;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 15px;
}
textarea{
  font-size: 0.9rem;
  min-height: 100px;
}

@media (min-width: 720px) {
  h2{
    padding: 10px;
  }
  form{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    gap:0.5rem;
    max-width: 750px;
    margin: auto;
  }
  .inputbox{
    width: 100%;
  }

.actions{
  margin: 30px auto;
  width: 100%;
  grid-column: span 2 ;
}
}
