.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}

.form-container .inputs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
}

.column {
  width: 48%;
}

.form-group {
  margin-bottom: 15px;
}

.inputbox,
select,
textarea {
  width: 100%;
  padding: 10px;
  resize: none;
  height: 100%;
}

.file-group {
  display: flex;
  flex-direction: column;
}

.file-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.file-item {
  margin: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  display: flex;
  align-items: center;
}

.file-preview {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.actions button {
  width: 30%;
  max-width: 250px;
  margin-bottom: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}
.actions button:hover {
  transform: scale(1.05);
}

@media (max-width: 720px) {
  .column {
    width: 100%;
  }
}
