

main{
  background: #E7EFF6;

}

.container{
  background: #5ab3d5;
  margin: 30px auto 15px;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  max-width: 900px;

}
.container h2{
  text-align: center;
  color: #002C3E;
  font-size: 1.5rem;
  margin: 10px auto;

}

.inputbox{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.inputbox label{
  color: #002C3E;
  font-weight: 500;
  font-size: 1.2rem;
  margin-right: 10px;
}
.inputbox input, select{
  background: #C9EEFF;
  border-radius: 3px;
  border: none;
  padding: 8px 10px;
  font-size: 1.2rem;
  width: 65%;
}
option{
  background: #E7EFF6;
  padding: 8px;
}
textarea{
  margin: auto;
  width: 70%;
  min-height: 60px;
  background: #C9EEFF;
  resize: vertical;
}

.actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
button{
  width: 50%;
  max-width: 250px;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  background: #002C3E;
  font-size: 1.1rem;
  color: #C9EEFF;
  font-weight: 500;
}


@media (min-width: 720px) {
  h2{
    padding: 10px;
  }
  form{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    gap:0.5rem;
    max-width: 750px;
    margin: auto;
  }
  .inputbox{
    width: 100%;
  }

#title{
  grid-column: span 2;
}
#description{
  grid-column: span 2;
}
#caracterist{
  grid-row: span 2;
}
#location{
  grid-column: span 2;
}
.actions{
  margin: 30px auto;
  width: 100%;
  grid-column: span 2 ;
}
}
