
main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #064789;
}
.container{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  max-width: 800px;
  margin: auto;
}
img{
  width: 130px;
  height: auto;
  border-radius: 20px;
  margin-top: 25px;
}
.container h2{
  color: #C9EEFF;
  font-size: 2.1rem;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}
.container form{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.container form input{
  margin: 0.9rem auto;
  width: 60%;
  min-width: 300px;
  background: #C9EEFF;
  border: none;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}
button{
  margin: 10px auto;
  padding: 10px;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  width: 50%;
  max-width: 200px;
  border:1px solid black;
  border-radius: 5px;
  background: #E7EFF6;
  cursor: pointer;
  transition: 0.5s;
}
button:hover{
  transform: scale(1.2);
  background: #C9EEFF;
}
p{
  text-align: center;
  width: 80%;
  margin: 50px auto 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
}
a{
  text-decoration: none;
  color: #C9EEFF;
}
a:hover{
  text-decoration: underline;
  cursor: pointer;
}
