
<app-header-lessor></app-header-lessor>

<body>

<div class="edit">
  <section>
    <div class="container">
      <img src="https://images.pexels.com/photos/10057618/pexels-photo-10057618.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      <button>Delete account</button>
    </div>

    <div class="container infoper">
      <form action="">
        <div class="info">
          <h3>Personal Information</h3>
          <div class="inputbox">
            <label>Name</label>
            <input type="text" required>
          </div>
          <div class="inputbox">
            <label>Last Name</label>
            <input type="text" required>
          </div>
          <div class="inputbox">
            <label>E-mail</label>
            <input type="email" required>
          </div>
          <button>Save Changes</button>
        </div>
      </form>
    </div>
  </section>
  <div class ="container">
    <form>
      <div class="changepass">
        <section>
          <div class="inputbox">
            <h3>Change Password</h3>
            <label>Actual Password</label>
            <input type="password" required>
            <label>New Password</label>
            <input type="password" required>
            <label>Repit New Password</label>
            <input type="passwordd" required>
            <button>Save Changes</button>
          </div>
        </section>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
</body>

