main{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.edit{
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
}
img{
  width: 90px;
  height: auto;
  margin-left: 10px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 20px;
}
form .inputbox{
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  background: #5ab3d5;
  color: #002C3E;
  font-weight: bold;
  font-size: 1rem;
}
textarea{
  resize: vertical;
  min-height: 50px;
}
form button{
  border: none;
  width: 80%;
  max-width: 150px;
  padding: 8px;
  margin: 10px auto 20px;
  background: #002C3E;
  border-radius: 2px;
  color:white ;
}
.actions{
  width: 90%;
  max-width: 800px;
  height: auto;
  margin: auto;
  display: grid;
  place-items: center;
}

.actions button{
  padding: 8px 5px;
  border:none;
  border-radius: 3px;
  background: #064789;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  margin: 10px;
  width: 25%;
  min-width: 150px;
  max-width: 200px;

}

label{
  color: #002C3E;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 30px;
}

@media (min-width: 720px) {

  .edit img{
    margin-right: 30px;
  }
  .edit{
    width: min-content;
    margin: 50px auto;
  }
  form{
    width: 60%;
    margin: auto;
    max-width: 700px;
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    gap:0.5rem
  }

  #desc{
    grid-column: span 2;
  }
  main{
    height: 100%;
  }
  .container{
    flex:1;
  }
}


.alert {
  background-color: #ffcccc;
  border: 1px solid #ff0000;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #ff0000;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 20%;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-icon {
  margin-right: 10px;
  font-weight: bold;
}


