<main>
  <app-header></app-header>
  <div class="container">
    <div class="edit">
      <img src="./assets/images/userCircle.png" alt="">
        <form action="">
          <input class="inputbox" type="text" placeholder="Name">
          <input class="inputbox"  type="text" placeholder="Last Name">
          <input class="inputbox"  type="number" placeholder="Age">
          <input class="inputbox"  type="email" placeholder="Email" id="email">
          <input class="inputbox"  type="text" placeholder="Gender">
          <textarea class="inputbox"  placeholder="Description" id="desc"></textarea>
          <button type="submit">Save</button>
        </form>
      </div>
    <div class="actions">
      <button>See Your Posts</button>
      <button>See Your Clients</button>
      <button class="back">Back</button>
    </div>


  </div>

  <app-footer></app-footer>
</main>
