<main>
  <app-header></app-header>
  <div class="container">
    <div class="edit">
      <img src="./assets/images/userCircle.png" alt="">
        <form [formGroup]="form" (ngSubmit)="updateUser()">
          <input class="inputbox" type="text" placeholder="Name" formControlName="name">
          <input class="inputbox"  type="text" placeholder="Last Name" formControlName="lastName">
          <input class="inputbox"  type="number" placeholder="Age" formControlName="age">
          <input class="inputbox"  type="email" placeholder="Email" formControlName="email">
          <input class="inputbox"  type="password" placeholder="New Password" formControlName="password">
          <div>
          <label>Gender</label>
          <select class="inputbox" formControlName="gender">
            <option *ngFor="let gender of genders" [value]="gender">
              {{ gender }}
            </option>
          </select>
          </div>
          <textarea class="inputbox"  placeholder="Description" id="desc" formControlName="description"></textarea>
          <button type="submit">Save</button>
          <button (click)="logOut()" type="button" style="background: red">Log Out</button>
        </form>
      </div>
    <div class="actions">
      <button [routerLink]="['/yourposts']">See Your Posts</button>
      <button [routerLink]="['/yourclients']">See Your Clients</button>
      <button class="back" (click)="volver()">Back</button>
    </div>


  </div>

  <app-footer></app-footer>
</main>
