.welcomeContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5eded;
  flex-direction: column;
  width: 100%;
  margin: 25px 0;
}
h4{
  font-size: 1.3rem;
  margin: 15px auto;
  font-weight: bold;
}
.usertypes{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.welcomeImgCard {
  width: 200px;
  border-radius: 5%;
  margin: 0 auto 20px;
}

@media (min-width: 720px){

  h4{
    font-size: 1.7rem;
  }
  .usertypes{
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1000px;
  }
}
