<app-header></app-header>
<main class="welcomeContainer">
    <h4>How Would you like to log in?</h4>
    <div class="usertypes">
      <div>
        <mat-card class="welcomeImgCard">
          <img src="../assets/images/lessor.jpg" alt="lessor">
          <button mat-raised-button color="primary" routerLink="/navigation/list/property">Lessor </button>
        </mat-card>
      </div>
      <div>
        <mat-card class="welcomeImgCard">
          <img src="../assets/images/tenant.jpg" alt="tenant">
          <button mat-raised-button color="primary" routerLink="/posts">Tenant </button>
        </mat-card>
      </div>
    </div>
</main>
<app-footer></app-footer>
