*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  display: none;
}
header{
  background-color: #002C3E;
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
}
.buttons{
  display: flex;
}
.buttons button{
  margin: auto;
}
.places{
  margin-top: 20px;
  border-radius: 5px;
}
.places button{
  margin: 0 5px;
  font-size: 0.8rem;
  padding: 0 10px;
}


@media (min-width: 720px){
  img{
    display: block;
    width: 150px;
  }
  .buttons{
    justify-content: end;
  }
  .buttons button {
    margin: 0 20px;
  }
  .places{display: flex;
    justify-content: center;
    max-width: 500px;
    margin: auto;
  }

}
