<header>
  <mat-toolbar style="background-color: #002C3E">
    <mat-toolbar-row>
      <div class="logo">
        <a routerLink="/home">
          <img src="../assets/images/logo2.jpg" alt="">
        </a>
      </div>
      <mat-toolbar-row class="buttons">
        <button mat-fab style="background-color: aliceblue; color: black" aria-label="Example icon button with a home icon" routerLink="/navigation/list/property">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-fab style="background-color: aliceblue; color: black" aria-label="Example icon button with a home icon">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-fab style="background-color: aliceblue; color: black" aria-label="Example icon button with a home icon" routerLink="/navigation/edit/profile">
          <mat-icon>person</mat-icon>
        </button>
      </mat-toolbar-row>

    </mat-toolbar-row>

    <mat-toolbar-row style="background-color: aliceblue; color:black" class="places">
      <button mat-raised-button style="background-color:#064789; color:white" routerLink="/navigation/list/tenant">My tenants </button>
      <button mat-raised-button style="background-color:#064789; color:white" routerLink="/navigation/list/property">My properties</button>
      <button mat-raised-button style="background-color:#064789; color:white">Advertisement</button>
    </mat-toolbar-row>

  </mat-toolbar>
</header>
