<header>
  <mat-toolbar style="background-color: #002C3E">
    <mat-toolbar-row>
      <div class="logo">
        <img src="../assets/images/logo2.jpg" alt="">
      </div>
      <mat-toolbar-row style="gap: 30px; padding-left: 65%">
        <button mat-raised-button style="background-color:#064789; color:white">Publish</button>
        <button mat-fab style="background-color: aliceblue; color: black" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-fab style="background-color: aliceblue; color: black" aria-label="Example icon button with a home icon">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-fab style="background-color: aliceblue; color: black" aria-label="Example icon button with a home icon">
          <mat-icon>person</mat-icon>
        </button>
      </mat-toolbar-row>

    </mat-toolbar-row>

    <mat-toolbar-row style="background-color: aliceblue; color:black; gap:40px">
      <button mat-raised-button style="background-color:#064789; color:white">My tenants</button>
      <button mat-raised-button style="background-color:#064789; color:white">My properties</button>
      <button mat-raised-button style="background-color:#064789; color:white">Advertisement</button>
    </mat-toolbar-row>

  </mat-toolbar>
</header>
