<header>
  <mat-toolbar style="background-color: #002C3E">
    <mat-toolbar-row>
      <div class="logo">
        <a routerLink="/home">
          <img src="../assets/images/logo2.jpg" alt="">
        </a>
      </div>
      <mat-toolbar-row class="icons">
        <button mat-fab style="background-color: aliceblue; color: black" routerLink="/navigation/list/property">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-fab style="background-color: aliceblue; color: black">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-fab style="background-color: aliceblue; color: black" routerLink="/navigation/edit/profile">
          <mat-icon>person</mat-icon>
        </button>
      </mat-toolbar-row>

    </mat-toolbar-row>

    <mat-toolbar-row class="categories">
      <button mat-raised-button>Rooms </button>
      <button mat-raised-button>Households</button>
      <button mat-raised-button>Business premises</button>
      <button mat-raised-button>Departament</button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

