img{
  display: none;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 0;
}
.icons button{
  margin-left: 20px;
  width: 40px;
  height: 40px;
}
mat-toolbar-row{
  padding: 10px;
}

.categories{
  background-color:#064789;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  max-width: 1000px;
  border-radius: 2px;
  margin: 0 auto 10px;
}
.categories button{
  margin: 0 auto 5px;
  font-size: 0.8rem;
  width: 200px;
}
.categories button:hover{
  background-color: #CAE3FF;
}

@media (min-width: 720px){
  img{
    display: block;
    width: 100px;
    margin-left: 30px;
  }
  .icons{
    justify-content: end;
    margin-right: 100px;
    max-width: 1000px;
  }
}
