
<main *ngIf="user">
  <app-header></app-header>
    <div class="container">
      <div class="info">
        <section class="photo">
          <img src="./assets/images/userCircle.png" alt="">
          <p>⭐⭐⭐⭐⭐</p>
          <button [routerLink]="['/sendmessage', userAutorId]">Send Message</button>
        </section>
        <section class="description">
          <h2>{{user.name}} {{user.lastName}}</h2>
          <p>{{user.description}}</p>
        </section>
      </div>
      <form action="">
        <p>⭐⭐⭐⭐⭐</p>
        <button type="submit">Save</button>
      </form>

      <button class="back" (click)="volver()">Back</button>

    </div>

  <app-footer></app-footer>
</main>
