
<main>
  <app-header></app-header>
    <div class="container">
      <div class="info">
        <section class="photo">
          <img src="./assets/images/userCircle.png" alt="">
          <p>⭐⭐⭐⭐⭐</p>
          <button>Send Message</button>
        </section>
        <section class="description">
          <h2>Nombre Grande</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elferendis placeat reiciendis rem sapiente, sint totam. Harum.</p>
        </section>
      </div>
      <form action="">
        <p>⭐⭐⭐⭐⭐</p>
        <button type="submit">Save</button>
      </form>

      <button class="back">Back</button>

    </div>

  <app-footer></app-footer>
</main>
