<app-header-lessor></app-header-lessor>
<app-header-tenant (searchQuery)="onSearch($event)" ></app-header-tenant>
<ng-container *ngFor="let post of posts">
  <ng-container *ngFor="let property of properties">
    <div *ngIf="property.id === post.propertyId">
      <mat-card class="ads" style="max-width: 1200px">
        <mat-card-content>
          <div class="ad">
            <img src="{{ property.photo }}" alt="{{ post.description }}">
            <div class="text">
              <h3>{{ property.title }}</h3>
              <p>{{ post.description }}</p>
            </div>
          </div>
          <div class="ranking">
            <div class="start">
              <ng-container *ngFor="let lessor of lessors">
                <div *ngIf="lessor.id === property.lessorId">
                  <img class="imgs" src="{{ lessor.image }}" alt="{{ post.description }}">
                  <mat-icon class="iconstar" *ngFor="let i of [1, 2, 3, 4, 5]">
                    {{ i <= lessor.ranking ? 'star' : 'star_border' }}
                  </mat-icon>
                </div>
              </ng-container>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button class="open-new" mat-icon-button [routerLink]="['/posts', post.id]">
            <mat-icon>open_in_new</mat-icon>
          </button>
          <div class="spacer"></div>
          <button class="send">Send message</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</ng-container>


<app-footer></app-footer>
