.ads{
  width: 95%;
  margin: 0 auto 100px;
  background: #dbe4f1;
  border-radius: 5px;
}
.ad{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ad img{
  width: 70%;
  margin: 10px auto;
  border-radius: 10px;
}

.text h3{
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}
.text p{
  font-size: 1.2rem;
  text-align: justify;
}
.start{
  display: grid;
  place-items: center;
}
.imgs{
  display: grid;
  place-items: center;
}
.start img{
  width: 30%;
}
.iconstar{
  color: #bbbb37;
}
.card-actions{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.open-new{
  margin: 5px 10px;
  transition: 0.5s;
}
.send{
  border: 2px solid #064789;
  border-radius: 5px;
  font-size: 1rem;
  margin: 0 15px;
  padding: 5px 10px;
  transition: 0.5s;
}

button:hover{
  transform: scale(1.2);
}

@media (min-width: 720px){

  .ad img{
    max-width: 600px;
  }
  .text{
    margin: 30px auto 20px;
    max-width: 700px;
  }
  .imgs{
    max-width: 500px;
  }
}
