

<main *ngIf="userToresponse">
  <app-header></app-header>
  <form [formGroup]="form" (ngSubmit)="sendMessage()">
    <div class="container">
      <h2>Send Message</h2>

        <div class="message">
          <h3>To: {{userToresponse.name}} {{userToresponse.lastName}}</h3>
          <textarea placeholder="Write your message here min(10)" formControlName="contentMessage"></textarea>
        </div>

      </div>
    <div class="buttons">
        <button class="back" (click)="volver()" type="button">Back</button>
        <button class="back" type="submit">Send</button>
    </div>
  </form>
  <app-footer></app-footer>
</main>

