/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  transition: 0.3s;
}
html, body {
  height: 100%;
}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.back{
  margin: auto;
  width: 200px;
  background: #002C3E;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 5px 0;
  transition: 0.3s;
  border: none;
}
.back:hover{
  background: white;
  border: 1px solid black;
  color: #002C3E;

}
button:hover{
  transform: scale(1.2);
}
button{
  cursor: pointer;
}
