<app-toolbar></app-toolbar>
<div class="card-container" *ngIf="post">
    <mat-card-content>
      <img mat-card-image [src]="post.photo" alt="">
      <div class="descrip">
        <h2>{{ post.title }}</h2>
        <p>{{ post.description }}</p>
        <h3>Characteristics</h3>
      </div>
      <div class="characts">
        <ol>Bathrooms: {{ post.bathrooms }}</ol>
        <ol>Bedrooms: {{ post.bedrooms }}</ol>
        <ol>Others: {{ post.others }}</ol>
      </div>
      <div class="resumen">
        <h5>Price:</h5>
        <p class="mat-card-subtitle">{{ post.price }}</p>
      </div>
      <div class="resumen">
        <h5>Visit Schedules</h5>
        <p class="schedule">{{ post.schedule1 }}</p>
        <p class="schedule">{{ post.schedule2 }}</p>
      </div>
      <div class="resumen">
      <h5>Location</h5>
          <p>{{ post.address }}</p>
          <p>Available: {{ post.state }}</p>
      </div>
      <p class="space"></p>
    </mat-card-content>
</div>

<app-footer></app-footer>


